@import org.mkljakubowski.sbtngseed.frontend.ApplicationConfiguration
@(config: ApplicationConfiguration)

@import controllers.routes.Assets

<!DOCTYPE html>
<html>

    <head>
        <base href="/">
        <title>Let's Angular</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@Assets.versioned("lib/font-awesome/css/font-awesome.min.css")">
        <link href="@Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Assets.versioned("stylesheets/main.css")" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@Assets.versioned(s"images/favicon.png")" />

        <script data-main="@Assets.versioned("javascripts/main")" src="@Assets.versioned("lib/requirejs/require.min.js")"></script>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-main navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="@Assets.versioned("images/acme.png")" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @*<li>
                            <a href="/run">Run</a>
                        </li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/add">Create</a></li>
                                <li><a href="/user/list">List</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div ng-view></div>

    </body>

</html>
