<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 text-right">
            <h5>First name:</h5>
        </div>
        <div class="col-lg-2 form-group">
            <input type="text" ng-model="req.obj.firstName" class="form-control">
        </div>
        <div class="col-lg-1 text-right">
            <h5>Last name:</h5>
        </div>
        <div class="col-lg-2 form-group">
            <input type="text" ng-model="req.obj.lastName" class="form-control">
        </div>
        <div class="col-lg-1 text-right">
            <h5>Age:</h5>
        </div>
        <div class="col-lg-2 form-group">
            <input type="number" ng-model="req.obj.age" class="form-control">
        </div>
        <div class="col-lg-3">
            <button class="btn btn-default" ng-click="search()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>Index</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
                <tr ng-repeat="user in users">
                    <td>{{$index + 1 + req.skip}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.age}}</td>
                    <td>
                        <span type="button" class="btn btn-default" aria-label="Left Align">
                            <a class="glyphicon glyphicon-pencil" aria-hidden="true" href="/user/edit/{{user.id}}"></a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <ul class="pagination">
                <li class="{{ req.skip == 0 ? 'disabled' : ''}}">
                    <a href="#" aria-label="Previous" ng-click="goto(req.skip - req.take)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="page in pages" class="{{page*req.take == req.skip ? 'active' : ''}}"><a href="#" ng-click="goto(page*req.take)">{{page + 1}}</a></li>
                <li class="{{ req.skip + req.take > limit ? 'disabled' : ''}}">
                    <a href="#" aria-label="Next" ng-click="goto(req.skip + req.take)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
