<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <span class="btn btn-default" ng-click="startCalc()">Start!</span>
                <span class="btn btn-default" ng-click="stopCalc()">Stop!</span>
                {{jsMessages("error.path.missing")}}
                <table class="table table-striped statuses-table">
                    <tr>
                        <th>Index</th>
                        <th>Number</th>
                    </tr>
                    <tr ng-repeat="status in statuses">
                        <td>{{$index}}</td>
                        <td>{{status}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
